// VARIABLES
$max-width: 1150px;

// CORE CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-weight: 800;
}

// CONTAINER SETUP
.container {
  position: relative;
  max-width: $max-width;
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}

// ROTATE 360 ANIMATION KEYFRAMES
@keyframes roro {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);

  }
}

// STANDARD BUTTON
%core-btndiv {
  display: inline-block;
  background-color: #ffffff;
  padding: 6.8px;
  border-radius: 35px;
  box-shadow: inset 0 -2px 1px rgba($color: #000000, $alpha: .2), 0px 13px 25px -5px rgba(0, 0, 0, 0.6);
}

%core-btn {
  padding: 0.75rem 1.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 35px;
  font-weight: 800;
  color: #ffffff;
  box-shadow: inset 0 -3px 1px rgba($color: #000000, $alpha: .2), inset 0px 0px 1px 1px rgba($color: #000000, $alpha: .1), inset 0 -1px 1px rgba($color: #000000, $alpha: .1), 0px 13px 20px -5px rgba(0, 0, 0, 0.3);
  border: none;
  text-shadow: 0 2px rgba($color: #000000, $alpha: .2);
  transition: all .3s;

  .fas {
    padding-left: 1rem;
  }

  &:hover {

    animation: hoverbtn .5s linear;

    &:active {
      opacity: .7;
    }
  }

  @keyframes hoverbtn {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.1);
    }

    50% {
      transform: scale(.95);

    }

    75% {
      transform: scale(1.04);

    }

    100% {
      transform: scale(1);
    }
  }
}

.btndiv {
  @extend %core-btndiv;
}

.btn {
  @extend %core-btn;
}

.btn-blue {
  font-size: 1.5rem;
  background: linear-gradient(0deg, #3392fe, #27d2fe);
  box-shadow: inset 0 -2px 1px rgba($color: #0066da, $alpha: 1), inset 0 -4px 1px rgba($color: #026ce5, $alpha: 1), inset 0 -6px 1px rgba($color: #0077ff, $alpha: .6), 0px 7px 6px -4px rgba(42, 140, 252, .8), inset 0px 0px 1px 1px rgba($color: #000000, $alpha: .1);
}

.btn-orange {
  font-size: 1.5rem;
  background: linear-gradient(0deg, #ff9640, #ffb746);
  box-shadow: inset 0 -2px 1px rgba($color: #d36001, $alpha: 1), inset 0 -4px 1px rgba($color: #e06602, $alpha: 1), inset 0 -6px 1px rgba($color: #ff7300, $alpha: .6), 0px 7px 6px -4px rgba(255, 112, 26, .8), inset 0px 0px 1px 1px rgba($color: #000000, $alpha: .1);

  .fas {
    font-size: 1.2rem;
    position: relative;
    bottom: 2px;
  }
}

.btn-circle {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 50%;
}


// Title
.title {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2.1rem;
}