* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-weight: 800;
}

a {
  display: inline-block;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}

.logo {
  font-size: 2rem;
  cursor: pointer;
  font-weight: 800;
}

.logo p:first-child {
  line-height: 0.9;
}

.logo p:first-child span:first-child {
  color: #02e2ec;
}

.logo p:first-child span:nth-child(2) {
  color: #fec601;
}

.logo p:first-child span:nth-child(3) {
  color: #f52501;
}

.logo p:first-child span:last-child {
  color: #b3f00c;
}

.logo p:last-child {
  color: #ffffff;
  line-height: 0.9;
}

@-webkit-keyframes roro {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roro {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btndiv {
  display: inline-block;
  background-color: #ffffff;
  padding: 6.8px;
  border-radius: 35px;
  -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0px 20px 50px -7px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0px 20px 50px -7px rgba(0, 0, 0, 0.5);
}

.btn {
  padding: 0.75rem 1.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 35px;
  font-weight: 800;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0px 13px 20px -5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0px 13px 20px -5px rgba(0, 0, 0, 0.3);
  border: none;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn .fas {
  padding-left: 1rem;
}

.btn:hover {
  -webkit-animation: hoverbtn .5s linear;
          animation: hoverbtn .5s linear;
}

.btn:hover:active {
  opacity: .7;
}

@-webkit-keyframes hoverbtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hoverbtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popup-spinin {
  0% {
    position: relative;
    bottom: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    bottom: 5px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    bottom: 5px;
    -webkit-transform: scale(1.2) rotateY(120deg);
            transform: scale(1.2) rotateY(120deg);
    -webkit-filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
            filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
  }
  60% {
    bottom: 5px;
    -webkit-transform: scale(1.2) rotateY(240deg);
            transform: scale(1.2) rotateY(240deg);
    -webkit-filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
            filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
  }
  80% {
    bottom: 5px;
    -webkit-transform: scale(1.2) rotateY(360deg);
            transform: scale(1.2) rotateY(360deg);
    -webkit-filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
            filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
  }
  100% {
    position: relative;
    bottom: 0px;
    -webkit-transform: scale(1) rotateY(360deg);
            transform: scale(1) rotateY(360deg);
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
            filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  }
}

@keyframes popup-spinin {
  0% {
    position: relative;
    bottom: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    bottom: 5px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    bottom: 5px;
    -webkit-transform: scale(1.2) rotateY(120deg);
            transform: scale(1.2) rotateY(120deg);
    -webkit-filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
            filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
  }
  60% {
    bottom: 5px;
    -webkit-transform: scale(1.2) rotateY(240deg);
            transform: scale(1.2) rotateY(240deg);
    -webkit-filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
            filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
  }
  80% {
    bottom: 5px;
    -webkit-transform: scale(1.2) rotateY(360deg);
            transform: scale(1.2) rotateY(360deg);
    -webkit-filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
            filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.26));
  }
  100% {
    position: relative;
    bottom: 0px;
    -webkit-transform: scale(1) rotateY(360deg);
            transform: scale(1) rotateY(360deg);
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
            filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  }
}

.btn-blue {
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#3392fe), to(#27d2fe));
  background: linear-gradient(0deg, #3392fe, #27d2fe);
  -webkit-box-shadow: inset 0 -2px 1px #0066da, inset 0 -4px 1px #026ce5, inset 0 -6px 1px rgba(0, 119, 255, 0.6), 0px 7px 6px -4px rgba(42, 140, 252, 0.8), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -2px 1px #0066da, inset 0 -4px 1px #026ce5, inset 0 -6px 1px rgba(0, 119, 255, 0.6), 0px 7px 6px -4px rgba(42, 140, 252, 0.8), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-orange {
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff9640), to(#ffb746));
  background: linear-gradient(0deg, #ff9640, #ffb746);
  -webkit-box-shadow: inset 0 -2px 1px #d36001, inset 0 -4px 1px #e06602, inset 0 -6px 1px rgba(255, 115, 0, 0.6), 0px 7px 6px -4px rgba(255, 112, 26, 0.8), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -2px 1px #d36001, inset 0 -4px 1px #e06602, inset 0 -6px 1px rgba(255, 115, 0, 0.6), 0px 7px 6px -4px rgba(255, 112, 26, 0.8), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-orange .fas {
  font-size: 1.2rem;
  position: relative;
  bottom: 2px;
}

.btn-circle {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.title {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2.1rem;
}

@media (max-width: 750px) {
  .container {
    overflow: hidden !important;
  }
  .title {
    font-size: 4rem;
  }
  .btn-orange {
    font-size: 1.3rem;
  }
  .btn-orange .fas {
    font-size: 1.1rem;
    position: relative;
    bottom: 2px;
  }
  .btn-blue {
    font-size: 1.3rem;
  }
}

#main-header {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  text-transform: uppercase;
  font-weight: 800;
}

#main-header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem 2rem;
}

#main-header #navbar #hamburger {
  display: none;
}

#main-header #navbar #navlink {
  background: #3d6bff;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px 4px rgba(190, 252, 255, 0.4);
          box-shadow: 0 0 2px 4px rgba(190, 252, 255, 0.4);
}

#main-header #navbar #navlink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 0.4rem 0 0.8rem;
}

#main-header #navbar #navlink ul li {
  padding: 1rem 2.1rem;
}

#main-header #navbar #navlink ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

#main-header #navbar #navlink ul li a:hover {
  color: #ccc;
}

#main-header #navbar #navlink ul li a:hover::before {
  height: 10px;
  width: 10px;
  left: -17px;
  -webkit-animation: roro linear 1s infinite;
          animation: roro linear 1s infinite;
}

#main-header #navbar #navlink ul li a::before {
  content: '';
  height: 7px;
  width: 7px;
  background-color: #fec601;
  z-index: 1;
  left: -15px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#main-header #navbar #navlink ul li:first-child {
  padding-left: 3.5rem;
}

#main-header #navbar #navlink ul li:last-child {
  padding-right: 3.5rem;
}

#main-header #navbar .btndiv {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0px 15px 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0px 15px 30px -5px rgba(0, 0, 0, 0.3);
}

#main-header #navbar .btndiv .btn {
  padding: .7rem 1.2rem .8rem;
  font-size: 1.1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#3392fe), to(#27d2fe));
  background: linear-gradient(0deg, #3392fe, #27d2fe);
}

#main-header #navbar .btndiv .btn .fas {
  font-size: .8rem;
  position: relative;
  bottom: 1px;
}

#main-header #header-content {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stories {
  background: #d4d9f8;
  position: relative;
}

#stories #story-section {
  background: #f4f4f4;
  height: 430px;
  width: 100%;
  position: absolute;
}

#stories .container {
  padding: 8rem 2rem 4rem;
  overflow: unset;
}

#stories .container #story-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  padding-bottom: 4rem;
}

#stories .container #story-div #story-img {
  position: relative;
  bottom: 3rem;
  right: 5rem;
}

#stories .container #story-div #story-img img {
  width: 100%;
  border-radius: 25px;
  border: solid 15px #ffffff;
  -webkit-box-shadow: 0px 13px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 15px -5px rgba(0, 0, 0, 0.1);
}

#stories .container #story-div #story-content h1 {
  font-size: 3.5rem;
  color: #5175f0;
  margin-bottom: 2.5rem;
}

#stories .container #story-div #story-content p {
  color: #5b73b1;
  width: 80%;
  margin-bottom: 2.5rem;
}

#stories .container .apps-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#stories .container .apps-content .app:first-child,
#stories .container .apps-content .app:nth-child(2) {
  margin-right: 2.5rem;
  height: 10rem;
}

#stories .container .apps-content .app:last-child {
  position: relative;
  bottom: 3.1rem;
}

#stories .container .apps-content .app:last-child img {
  width: 140px;
}

#stories .container .apps-content .app:last-child h3 {
  margin-bottom: 1rem;
}

#stories .container .apps-content .app:last-child p {
  color: #5b73b1;
  font-size: .9rem;
}

#stories .container .apps-content .app:last-child .btn {
  height: 3.6rem;
  width: 3.6rem;
}

#stories .container .apps-content .app:last-child .btn .fas {
  font-size: 1.8rem;
}

#stories .container .apps-content .app {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0px 7px 0px -4px rgba(255, 255, 255, 0.6), 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 7px 0px -4px rgba(255, 255, 255, 0.6), 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#stories .container .apps-content .app img {
  position: absolute;
  right: 0;
  top: -2rem;
  width: 125px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-filter: drop-shadow(0 10px 12px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(0 10px 12px rgba(0, 0, 0, 0.35));
}

#stories .container .apps-content .app h3 {
  font-size: 1.67rem;
  line-height: 1.3;
  color: #5b73b1;
}

#stories .container .apps-content .app:hover {
  -webkit-box-shadow: 0px 7px 0px -4px rgba(255, 255, 255, 0.6), 0px 10px 10px -5px rgba(0, 0, 0, 0.3), 0px 15px 18px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 0px -4px rgba(255, 255, 255, 0.6), 0px 10px 10px -5px rgba(0, 0, 0, 0.3), 0px 15px 18px -5px rgba(0, 0, 0, 0.1);
  cursor: -webkit-grab;
  cursor: grab;
}

#stories .container .apps-content .app:hover img {
  -webkit-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
  -webkit-filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.3));
}

#stories .container .apps-content .app:hover .btn-orange {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff9640), to(#ffb746));
  background: linear-gradient(0deg, #ff9640, #ffb746);
  -webkit-box-shadow: inset 0 -2px 1px #d36001, inset 0 -4px 1px #e06602, inset 0 -6px 1px rgba(255, 115, 0, 0.6), 0px 10px 7px -4px rgba(255, 112, 26, 0.8), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -2px 1px #d36001, inset 0 -4px 1px #e06602, inset 0 -6px 1px rgba(255, 115, 0, 0.6), 0px 10px 7px -4px rgba(255, 112, 26, 0.8), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#stories .container .apps-content .app .btn {
  position: absolute;
  bottom: -1.7rem;
  left: 2.7rem;
}

#stories .container .apps-content .app .btn .fas {
  padding-left: 0rem;
  font-weight: 900;
}

#bogo-school {
  height: 775px;
  background: url(../img/bogoschool-background.jpg) no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

#bogo-school .container {
  overflow: unset;
  padding: 2rem 2rem 4rem;
  height: 100%;
}

#bogo-school .container .bogo-school-content {
  height: 80%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#bogo-school .container .app-div {
  background: #ffffff;
  position: absolute;
  height: 220px;
  width: 95%;
  bottom: -7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 1fr;
      grid-template-columns: 2fr 5fr 1fr;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 14px 0px -8px #e1e1e1, 0px 27px 0px -16px #bbbbbb, 0px 15px 15px -15px rgba(0, 0, 0, 0.2), 0px 20px 20px -20px rgba(0, 0, 0, 0.2), 0px 30px 30px -25px rgba(0, 0, 0, 0.2), 0px 60px 35px -25px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 14px 0px -8px #e1e1e1, 0px 27px 0px -16px #bbbbbb, 0px 15px 15px -15px rgba(0, 0, 0, 0.2), 0px 20px 20px -20px rgba(0, 0, 0, 0.2), 0px 30px 30px -25px rgba(0, 0, 0, 0.2), 0px 60px 35px -25px rgba(0, 0, 0, 0.3);
}

#bogo-school .container .app-div div:first-child .app-logo {
  background-color: #ffffff;
  position: absolute;
  padding: 1rem;
  border-radius: 50%;
  top: -4rem;
  left: -2rem;
}

#bogo-school .container .app-div div:first-child .app-logo img {
  width: 250px;
  border-radius: 50%;
}

#bogo-school .container .app-div .app-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5569a8;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#bogo-school .container .app-div .app-content > div p {
  margin-right: 2rem;
}

#bogo-school .container .app-div .app-content > div div {
  color: #ffb621;
  font-size: 1rem;
}

#bogo-school .container .app-div .app-content > div div .fas {
  margin-right: .1rem;
}

#bogo-school .container .app-div .app-content p:last-child {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.33;
  color: #545569;
}

#bogo-school .container .app-div div:last-child .btn {
  height: 4.2rem;
  width: 4.2rem;
}

#bogo-school .container .app-div div:last-child .btn .fas {
  font-size: 1.6rem;
  padding: 0;
}

#email-section {
  height: 420px;
  background: #2f5fff;
  border-top: solid 8px #0035e2;
  border-bottom: solid 8px #0035e2;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.3);
}

#email-section .container {
  padding: 2rem 2rem 5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#email-section .container #email-section-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#email-section .container #email-section-div .logo {
  font-size: 2.5rem;
}

#email-section .container #email-section-div #email-content {
  width: 80%;
  background: #1949e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem 1rem 3rem;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.3);
}

#email-section .container #email-section-div #email-content p {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 800;
  position: relative;
  bottom: 3px;
}

#email-section .container #email-section-div #email-content #email-div {
  width: 60%;
  position: relative;
}

#email-section .container #email-section-div #email-content #email-div #email {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #ffffff;
  color: #5276f1;
}

#email-section .container #email-section-div #email-content #email-div #email::-webkit-input-placeholder {
  color: #5276f1;
}

#email-section .container #email-section-div #email-content #email-div #email:-ms-input-placeholder {
  color: #5276f1;
}

#email-section .container #email-section-div #email-content #email-div #email::-ms-input-placeholder {
  color: #5276f1;
}

#email-section .container #email-section-div #email-content #email-div #email::placeholder {
  color: #5276f1;
}

#email-section .container #email-section-div #email-content #email-div .btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#68b122), to(#b4e744));
  background: linear-gradient(0deg, #68b122, #b4e744);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.9rem;
  -webkit-box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -2px 1px rgba(0, 0, 0, 0.1), 0px 13px 20px -5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -2px 1px rgba(0, 0, 0, 0.1), 0px 13px 20px -5px rgba(0, 0, 0, 0.3);
}

#email-section .container #email-section-div #email-content #email-div .btn .fas {
  padding: .2rem .6rem .2rem .8rem;
  font-size: 2rem;
}

#main-footer {
  height: 100%;
  background: #1949e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer .container {
  width: 100%;
  padding: 2rem;
}

#main-footer .container #footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-footer .container #footer-content #creator-copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: .7rem;
  font-weight: 600;
}

#main-footer .container #footer-content #creator-copyright #creator a {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#main-footer .container #footer-content #creator-copyright #creator a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid white;
}

#main-footer .container #footer-content #creator-copyright #creator a:hover:active {
  opacity: .7;
}

#main-footer .container #footer-content #footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 0.4rem 0 0.8rem;
  font-weight: 800;
}

#main-footer .container #footer-content #footer-link ul li {
  padding: 1rem 2.1rem;
}

#main-footer .container #footer-content #footer-link ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9rem;
}

#main-footer .container #footer-content #footer-link ul li a:hover {
  color: #ccc;
}

#main-footer .container #footer-content #footer-link ul li a:hover::before {
  height: 10px;
  width: 10px;
  left: -17px;
  -webkit-animation: roro linear 1s infinite;
          animation: roro linear 1s infinite;
}

#main-footer .container #footer-content #footer-link ul li a::before {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #fec601;
  z-index: 1;
  left: -15px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#main-footer .container #footer-content #footer-link ul li:first-child {
  padding-left: 3.5rem;
}

#main-footer .container #footer-content #footer-link ul li:last-child {
  padding-right: 3.5rem;
}

#main-footer .container #footer-content #footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-footer .container #footer-content #footer-social a {
  margin-left: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#bed4fc), to(#ffffff));
  background: linear-gradient(0deg, #bed4fc, #ffffff);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.3rem;
  -webkit-box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.25), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0px 8px 15px -2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.25), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0px 8px 15px -2px rgba(0, 0, 0, 0.5);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#main-footer .container #footer-content #footer-social a:hover {
  -webkit-box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.25), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px -2px rgba(0, 0, 0, 0.68);
          box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.25), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px -2px rgba(0, 0, 0, 0.68);
}

#main-footer .container #footer-content #footer-social a:first-child {
  color: #3b5998;
}

#main-footer .container #footer-content #footer-social a:first-child:hover i {
  -webkit-animation: popup-spinin .8s linear forwards;
          animation: popup-spinin .8s linear forwards;
}

#main-footer .container #footer-content #footer-social a:nth-child(2) {
  color: #1da1f2;
}

#main-footer .container #footer-content #footer-social a:nth-child(2):hover i {
  -webkit-animation: popup-spinin .8s linear;
          animation: popup-spinin .8s linear;
}

#main-footer .container #footer-content #footer-social a:nth-child(3) {
  color: #ff0000;
}

#main-footer .container #footer-content #footer-social a:nth-child(3):hover i {
  -webkit-animation: popup-spinin .8s linear;
          animation: popup-spinin .8s linear;
}

@media (min-height: 1100px) {
  #main-header {
    height: 1100px;
  }
  #main-header #header-content {
    height: 900px;
  }
}

@media (max-width: 1040px) {
  #stories .container .apps-content .app:last-child {
    position: relative;
    bottom: 4.5rem;
  }
}

@media (max-width: 980px) {
  #main-header #navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0rem;
  }
  #main-header #navbar #navlink {
    margin: 2rem 0;
  }
  #main-header #header-content {
    height: 60vh;
  }
  #stories #story-section {
    height: 450px;
  }
  #stories .container {
    padding: 8rem 2rem 4rem;
    overflow: hidden;
  }
  #stories .container #story-div #story-img {
    position: relative;
    bottom: 3rem;
    right: 6rem;
  }
  #stories .container #story-div #story-img img {
    width: 120%;
  }
  #stories .container #story-div #story-content {
    padding-left: 2rem;
  }
  #stories .container #story-div #story-content p {
    width: 90%;
  }
  #stories .container .apps-content {
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #stories .container .apps-content .app:first-child,
  #stories .container .apps-content .app:nth-child(2) {
    margin-bottom: 3.5rem;
    margin-right: 0;
  }
  #stories .container .apps-content .app:last-child {
    bottom: 0;
    height: 100%;
  }
  #stories .container .apps-content .app:last-child p {
    padding-right: 3rem;
  }
  #stories .container .apps-content .app {
    height: 10rem;
    width: 27rem;
  }
  #bogo-school {
    height: 775px;
    background: url(../img/bogoschool-background.jpg) no-repeat center center/cover;
    position: relative;
    z-index: 1;
  }
  #bogo-school .container {
    overflow: unset;
    padding: 2rem 2rem 4rem;
    height: 100%;
  }
  #bogo-school .container .bogo-school-content {
    height: 80%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #bogo-school .container .app-div {
    height: 300px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.5rem 1.5rem 1rem;
  }
  #bogo-school .container .app-div div:first-child .app-logo {
    top: -160px;
    left: 50%;
  }
  #bogo-school .container .app-div .app-content p:last-child {
    margin-bottom: 1.3rem;
  }
  #email-section {
    height: 400px;
  }
  #email-section .container {
    padding: 2rem 2rem 4.5rem;
  }
  #email-section .container #email-section-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  #email-section .container #email-section-div .logo {
    display: none;
  }
  #email-section .container #email-section-div #email-content {
    width: 100%;
  }
  #email-section .container #email-section-div #email-content #email-div {
    width: 55%;
  }
  #main-footer .container #footer-content #footer-link {
    display: none;
  }
}

@media (max-width: 750px) {
  #main-header {
    background: url(../img/showcase.jpg) no-repeat -200px center/cover;
    height: 100vh;
    text-transform: uppercase;
    font-weight: 800;
  }
  #main-header #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 0rem 2rem;
  }
  #main-header #navbar #hamburger {
    z-index: 10;
    display: block;
    background: #ffffff;
    height: 4.3rem;
    width: 4.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.1rem .8rem;
    background: #3d6bff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 2px 4px #7bbbbe;
            box-shadow: 0 0 2px 4px #7bbbbe;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
  }
  #main-header #navbar #hamburger .a,
  #main-header #navbar #hamburger .b,
  #main-header #navbar #hamburger .c {
    position: absolute !important;
    height: 5px;
    border-radius: 5px;
    width: 60%;
    background: #ffffff;
    position: relative;
    top: 32px;
    left: 13.3px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  #main-header #navbar #hamburger .a {
    top: 20px;
  }
  #main-header #navbar #hamburger .c {
    top: 44px;
  }
  #main-header #navbar #navlink {
    position: absolute;
    top: 0rem;
    left: 2rem;
    padding-top: 3rem;
    -webkit-transition: all .6s;
    transition: all .6s;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  #main-header #navbar #navlink ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    padding: 3rem 1rem;
  }
  #main-header #navbar #navlink ul li:first-child {
    padding-left: 2.1rem;
  }
  #main-header #navbar #navlink ul li:last-child {
    padding-right: 0rem;
  }
  #main-header #navbar .btndiv {
    display: none;
  }
  #main-header #header-content {
    height: 80vh;
  }
  #stories #story-section {
    height: 43%;
  }
  #stories .container {
    padding: 4rem 2rem;
    overflow: unset;
  }
  #stories .container #story-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 0rem;
    padding-bottom: 3rem;
  }
  #stories .container #story-div #story-img {
    position: unset;
    margin-bottom: 1.6rem;
  }
  #stories .container #story-div #story-img img {
    width: 100%;
  }
  #stories .container #story-div #story-content {
    padding-left: 0rem;
    text-align: center;
  }
  #stories .container #story-div #story-content h1 {
    margin-bottom: 1.5rem;
  }
  #stories .container #story-div #story-content p {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  #stories .container .apps-content {
    padding: 2rem 0rem;
  }
  #stories .container .apps-content .app {
    width: 100%;
  }
  #bogo-school {
    height: 760px;
    background: url(../img/bogoschool-background.jpg) no-repeat -250px center/cover;
  }
  #bogo-school .container {
    overflow: unset !important;
  }
  #bogo-school .container .bogo-school-content {
    height: 65%;
  }
  #bogo-school .container .app-div {
    height: 340px;
    width: 85%;
    padding: 4.5rem 1.5rem 1rem;
  }
  #bogo-school .container .app-div div:first-child .app-logo {
    top: -100px;
  }
  #bogo-school .container .app-div div:first-child .app-logo img {
    width: 150px;
  }
  #bogo-school .container .app-div .app-content > div p {
    font-size: 1rem;
    margin-right: 1rem;
  }
  #bogo-school .container .app-div .app-content > div > div {
    font-size: .8rem;
  }
  #bogo-school .container .app-div .app-content p:last-child {
    font-size: 1.4rem;
  }
  #email-section {
    height: 460px;
  }
  #email-section .container {
    padding: 2rem 2rem 4rem;
  }
  #email-section .container #email-section-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  #email-section .container #email-section-div .logo {
    display: none;
  }
  #email-section .container #email-section-div #email-content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
  }
  #email-section .container #email-section-div #email-content p {
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
  #email-section .container #email-section-div #email-content #email-div {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */